.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-grow: 1;
}

select {
  width: 200px;
  height: 40px;
  background: #000022;
  appearance: none;
  border: 1px solid white;;
  border-radius: 4px;
  color: white;
  font-size: 20px;
  padding: 0 20px;
}

.menu {
  width: 150px;
  background: #000022;
  color: white;
  display: flex;
  padding: 20px;
  flex-direction: column;
  align-items: flex-start;
}

.menu img {
  width: 130px;
  margin: 0 0 20px;
  animation: App-logo-spin infinite 20s linear;
}

.menu__item {
  display: block;
  color: white;
  text-decoration: none;

}

.unauthorized {
  color: red;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
